<!DOCTYPE html>
<html>
<head>
  <title>GoalSetter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>GoalSetter</h1>
  <% if flash[:notices] %>
  <div class="notices">
    <% flash[:notices].each do |msg| %>
    <p><b><%= msg %></b></p>
    <% end %>
  </div>
  <% end %>
  <div>
    <% if current_user %>
    <p>Welcome <%= link_to(current_user_name, user_url(current_user)) %></p>
		<p><%= link_to("see all users", users_url)%>
    <%= button_to "Log Out", session_url, method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_url %>
    or
    <%= link_to "Sign In", new_session_url %>
    <% end %>
  </div>
</header>
<%= yield %>

</body>
</html>